---
- name: "Add roles to {{ fqdn }}"
  ansible.builtin.include_role:
    name: "{{ l_role }}"
  loop:
    - nick.platform.managed_node
#    - nick.platform.hosts_file
    - nick.platform.register_rhsm
    - nick.platform.latest_packages
    - nick.platform.server_cert
    - nick.platform.smtp_client
    - nick.platform.squid_proxy
    - nick.platform.dns_forwarder
    - nick.platform.cockpit_server
    - nick.platform.register_insights
    # !!! add time_server?
    # https://hardiman.consulting/rhel/9/time/chrony.html
  loop_control:
    loop_var: l_role

- name: "Configure HAproxy on {{ fqdn }}"
  ansible.builtin.include_role:
    name: nick.platform.haproxy
  vars:
    haproxy_config_file_template: haproxy-sni-tcp-aap-refarch.cfg.j2
